<div class="results" data-test="results-wrapper">
  <div class="results__container" id="results-movies">
    <div class="results__column__head">
      <div class="results__column__head__title">Titre Original</div>
      <div class="results__column__head__year">Année de Création</div>
      <div class="results__column__head__genres">Genres</div>
      <div class="results__column__head__empty"></div>
    </div>
    <div *ngFor="let movie of movies | sort" class="results__column__content">
      <div class="results__column__content__title" id="results-title">
        {{ movie.originalTitle }}
      </div>
      <div class="results__column__content__year">{{ movie.startYear }}</div>
      <div class="results__column__content__genres">{{ movie.genres }}</div>
      <button (click)="openModal(movie)" class="results__column__content__btn">
        <fa-icon [icon]="faPencilAlt"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="footer__wrapper">
  <footer class="footer">
    <div class="footer__content">
      <p>© Pauline Bonnet, 2020 - Tous droits réservés</p>
    </div>
  </footer>
</div>
