@import "src/styles/utils/colors";

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 76px;
  min-height: 100%;

  .results__container {
    width: 900px;
    display: flex;
    flex-direction: column;
  }

  &__column__head {
    font-weight: bold;
    color: $light-pink;
  }

  &__column__content:nth-child(2n + 1) {
    background-color: $medium-grey;
    color: $light-grey;
  }

  &__column__content:nth-child(2n) {
    background-color: $medium-sup-grey;
    color: $light-grey;
  }

  &__column__head,
  &__column__content {
    display: flex;
    flex-direction: row;
    padding: 16px 8px;
    justify-content: center;

    &__title,
    &__year,
    &__genres {
      margin-right: 16px;
      width: percentage(1/3);
    }

    &__empty {
      width: 20px;
      margin-right: 16px;
    }

    &__btn {
      width: 20px;
      background-color: transparent;
      margin-right: 16px;
      border: none;

      fa-icon {
        color: $light-grey;
        cursor: pointer;
      }
    }
  }
}

.footer__wrapper {
  position: relative;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 60px;
  background-color: $flashy-pink;
  color: $background-grey;
  text-align: center;
}
