$flashy-pink: #e086f8;
$light-pink: #ffe8ff;

$background-grey: #4e4351;
$medium-sup-grey: #7d7180;
$medium-grey: #706473;
$light-grey: #dac4da;
$closure-grey: #aaaaaa;

$black: #000;
$shade-black: rgba(0, 0, 0, 0.7);
