@import "src/styles/utils/colors";

.modal__wrapper {
  padding-top: 100px;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  background-color: $black;
  background-color: $shade-black;
  z-index: 100;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal__content {
    border-radius: 5px;
    background-color: $background-grey;
    color: $flashy-pink;
    margin: auto;
    padding: 20px;
    border: 1px solid $closure-grey;
    width: 800px;
    position: relative;

    h1 {
      line-height: 13px;
      margin-bottom: 30px;
    }
  }

  .modal__form__content {
    display: flex;
    flex-direction: row;
  }

  .modal__form__btn {
    height: 25px;
    border: 1px solid $light-pink;
    border-radius: 5px;
    background-color: $light-pink;
    padding: 2px 5px;
    color: $background-grey;
    cursor: pointer;

    fa-icon {
      color: $background-grey;
    }
  }

  .modal__close {
    position: relative;
    bottom: 190px;
    left: 15px;

    .modal__btn--close {
      color: $closure-grey;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.modal__form__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
  width: percentage(1/3);

  &:last-child {
    margin-right: 0;
  }

  label,
  input {
    margin-bottom: 8px;
    height: 25px;
    color: $flashy-pink;
  }
  input {
    padding: 2px 5px;
    border: 1px solid $light-pink;
    border-radius: 5px;
    background-color: $background-grey;
    margin-bottom: 16px;
  }
}
