<div class="modal__wrapper" [ngStyle]="{ display: display }">
  <div class="modal__content">
    <h1>VOTRE SELECTION</h1>
    <form (ngSubmit)="onModificationMovie()">
      <div class="modal__form__content">
        <div class="modal__form__column">
          <label for="title">Titre Original</label>
          <input [formControl]="originalTitle" name="title" />
        </div>
        <div class="modal__form__column">
          <label for="year">Année de Création</label>
          <input [formControl]="startYear" name="year" />
        </div>
        <div class="modal__form__column">
          <label for="genre">Genres</label>
          <input [formControl]="genres" name="genre" />
        </div>
      </div>
      <button type="submit" class="modal__form__btn">
        Validez
        <fa-icon [icon]="faCheck"></fa-icon>
      </button>
    </form>
    <span class="modal__close">
      <fa-icon
        [icon]="faTimes"
        (click)="onClose()"
        class="modal__btn--close"
      ></fa-icon>
    </span>
  </div>
</div>
