<div class="search__wrapper" data-test="search-wrapper">
  <div class="search__presentation">
    <img
      class="search__img"
      alt="pellicule"
      src="./../assets/images/Video_Tape.png"
    />
  </div>
  <div class="search__form__container">
    <div class="search__title">
      <h1>ALLOfakeCINE</h1>
    </div>
    <form (ngSubmit)="onSubmit()" class="search__form">
      <input
        type="text"
        [formControl]="research"
        placeholder="Rechercher un film"
        id="search-input"
      />
      <button type="submit" id="search-button">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </form>
  </div>
</div>
