@import "src/styles/utils/colors";

.search__wrapper {
  height: 150px;
  background-color: $flashy-pink;
  display: flex;
  flex-direction: row;
  align-items: center;

  h1 {
    margin: 0;
  }
}

.search__img {
  height: 140px;
  transform: rotate(-45deg);
}

.search__form__container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.search__title {
  margin: 30px;
}

.search__form {
  input {
    width: 400px;
    height: 25px;
    padding: 2px 5px;
    border: 1px solid $background-grey;
    border-radius: 5px 0 0 5px;
    background-color: $background-grey;
    margin-bottom: 16px;
  }

  input::placeholder {
    color: $light-pink;
    opacity: 0.8;
  }

  button {
    height: 31px;
    background-color: $background-grey;
    border: 1px solid $background-grey;
    border-radius: 0 5px 5px 0;
    color: $flashy-pink;
    cursor: pointer;
  }
}
